
.nav {
  font-size: 0;
}
.nav_item {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 14px 5px 10px;
  font-size: 13px;
}

.nav_item_selected, .nav_item:hover {
  border-bottom: 4px solid #0084b4;
  transition-property: border-bottom;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
}

.nav_item:hover a {
  color: #0084b4;
}

.search_box {
  border-radius: 20px;
  padding: 5px 5px 5px 12px;
  font-size: 1.3em;
}

.search_input {
  height: 22px;
  width: 160px;
  padding: 0;
}

.search_input:focus {
  color: #292f33;
}

.tweet_button {
  height: 34px;
  color: white;
  font-size: 1.3em;
}

.header {
  position: relative;
  height: 46px;
}

.header_logo {
  position: absolute;
  top: 0px;
  left: 49%;
}

.twitter_logo {
  line-height: 46px;
  vertical-align: bottom;
}

.header_left {
  position: absolute;
  top: 6px;
  left: 4%;
}

.header_right {
  position: absolute;
  top: 12px;
  right: 4%;
}

.header_ritem {
  display: inline-block;
  margin: auto 10px;
  line-height: 0;
  vertical-align: middle;

}

